<!doctype html>
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block page_title %}{{ ('Survey Data Collection') }}{% endblock page_title %}</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}" />

    <!--[if lt IE 9]><script src="{{ url_for('static', filename='js/vendor/html5shiv.min.js') }}"></script><![endif]-->
    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
    {%- block styles %}
    {% set css_responsive = "css/"~_theme~"/responsive.css" %}


    <!--[if (gt IE 9) | (IEMobile)]><!-->
    {%- if request.args.get('fixed') == 'true' %}
      <link href="{{ url_for('static', filename=css_fixed) }}" rel="stylesheet" />
    {%- else %}
      <link href="{{ url_for('static', filename=css_responsive) }}" rel="stylesheet" />
    {%- endif %}

    <![endif]-->
    {% endblock styles -%}
    {% endblock head -%}

  </head>

  <body>
    <div class="page">
      <div class="page__content">

        <div class="page__header">
          {% include 'partials/header.html' %}
        </div>

        <div class="container page__container">
          {%- block content %}{% endblock content -%}
        </div>
      </div>
      <div class="page__footer">
        {% include 'partials/footer.html' %}
      </div>

    </div>

  </body>

</html>
