[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==2.14.1"
google-cloud-datastore = "==2.13.2"
sdc-cryptography = "==1.1.1"
google-cloud-storage = "==2.7.0"
google-cloud-secret-manager = "==2.15.1"
cryptography = "==39.0.1"
python-gnupg = "==0.5.0"
structlog = "==22.3.0"
python-engineio = "==4.3.4"
python-socketio = "==5.7.2"
Flask-SocketIO = "==5.3.2"
coverage = "==7.1.0"
xls2xlsx = "==0.2.0"
xlrd = "==2.0.1"
pandas = "==1.5.3"
pytest-cov = "==4.0.0"
Flask = "==2.2.2"
PyYAML = "==6.0"
pillow = "==9.4.0"
google-cloud-run = "==0.7.1"

[dev-packages]

[requires]
python_version = "3.11"
