/**
 * SDX-Tester
 *
 * Custom styles
 */


/**
  * ================ Utility classes ==================
  */

.mx-0{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mb-20{
  margin-bottom: 5rem !important;
}

.mt-20{
  margin-top: 5rem !important;
}

.text-center{
	text-align: center !important;
}

.my-4{
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.mb-4{
	margin-bottom: 1em !important;
}
/**
  * ================ Buttons ==================
  */
 
.button-row{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: stretch;
}

.btn-block{
	width: 100%;
}
.btn-block, .btn-block .ons-btn__inner{
	width: 100%  !important;
}

/**
  * ================ MISC ==================
  */
 
.custom-container{
	max-width: 80rem;
	margin: auto;
	padding: 0px 3rem;
}

.survey-text-area{
	max-height: 55vh;
	min-height: 400px;
	resize: vertical !important;
	overflow-y: scroll !important;
	width: 100%;
	height: 55vh;
}

.scrollable-text-area{
  resize: vertical !important;
  overflow-y: scroll !important;
}

.min-250{
  min-height: 250px !important;
}

.file-image-container{
  height: auto;
  width: 750px;
    margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 2em;
}

.file-image-container img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}



/**
  * ================ Media Queries ==================
  */
@media screen and (min-width: 1200px) {
  .button-row{
      flex-direction: row;
      justify-content: space-between
  }
}


