<div class="tab-pane" id="{{ datatype }}">
  <table id="{{ datatype }}-data" class="table" width="100%">
    <thead>
      <tr>
        <th class="table__header-cell table__header-cell--align">Filename</th>
        <th class="table__header-cell table__header-cell--align">Size</th>
        <th class="table__header-cell table__header-cell--align">Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for metadata in contents %}
          <tr id={{ metadata['name'] }} ><td><a href="#">{{ metadata['name'] }}</a></td><td>{{ metadata['size'] }}b</td><td>{{ metadata['modify'] }} </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
