{% extends "layouts/_twocol.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>SDX Tester</title>
</head>
<body>
    <div>
        <form action="/submit" method="post">
            <select  name="surveys_names" id="survey_names"  style="width:46%; border:2px solid #000;
            border-radius: 5px;">
                <li>surveys</li>
                <option name="Current survey_id" selected="selected">{{ number }}</option>
                {% for key, values in surveys.items() %}
                    {% if 'seft' in key %}
                        <option value = "{{ values.get_seft_metadata() | pretty_print }}">{{ key }}</option>
                    {% else %}
                        <option value= "{{ values | pretty_print }}">{{ key }}</option>
                    {% endif %}
                {% endfor %}

            </select>
            <br>
            <br>
            <textarea id="post-data" name="post-data" rows="33" cols="50" style="border:2px solid #000;
            border-radius: 5px;">{{ current_survey }}
            </textarea>
            <ul style="float:right; width:50%; display:inline-block; border:2px solid #000; padding:20px; list-style: none;
            border-radius: 5px;" id="test">
                {% for submission in submissions %}
                    {% for survey_id, tx_id in submission.items() %}
                    <li>{{ survey_id }}:  <a href = "{{url_for('view_response', tx_id=tx_id )}}"> {{ tx_id }}<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <br>
            <input id="submit" type="submit" value="Submit" style="margin-top: 20px">
            <script>
                document.getElementById("survey_names").addEventListener('change', function(event) {
                    document.getElementById("post-data").value = event.target.value
                });
            </script>
        </form>
    </div>
</body>

{% endblock content %}

