{% extends "layouts/_twocol.html" %}

{% block content %}

<!--WebSocket enables user interface to send and receive data without delay and in real time.

WebSocket usage proves to be essential for this user interface as the response page is frequently updated with dap, receipt responses
and colours for successful and null responses for different survey ids.
    -Successful response (background colour of textbox turns green)
    -null response (background colour of textbox turns red)
    - timeout or quarantine (background colour of the textbox turns sweet pink with a error message)
    -In progress (background colour of the textbox turns blue)

Manual page refresh is not required to reflect the changes.
-->
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <meta charset="UTF-8">
    <title>SDX Tester</title>
</head>
<body>
    <div>
        <form action="/submit" method="post">
            <div style="display: flex; flex-direction: row; margin: 8px 0px 8px 0px;">
                <!--Select 1-->
                <div>
                    <select  name="surveys_names" id="survey_names">
                        <option selected="selected" disabled="disabled">Please select a survey</option>
                        <!--Display each survey ID-->
                        {% for key, values in surveys.items() %}
                            {% if 'seft' in key %}
                                <option value = "{{ values[0].get_seft_metadata() | pretty_print }}">{{ key }}</option>
                            {% else %}
                                <option sid="{{key}}" value= "{{ values[0] | pretty_print }}">{{ key }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!--Select 2-->
                <div style="margin-left: 5px;">
                    <select  id="extra_surveys" disabled style="display: none;">
                        <optgroup id="extra_surveys_content" label="More surveys">  
                        </optgroup>
                    </select>
                </div>
            </div>
            <textarea id="post-data" name="post-data" rows="33" cols="50">
                {{ current_survey }}
            </textarea>

            {% if submissions %}
                <ul id="listOfSubmissions">
                {% for submission in submissions %}
                    {% for tx_id, survey_id in submission.items() %}
                    <li>{{ survey_id }}:  <a href = "{{url_for('view_response', tx_id=tx_id )}}"> {{ tx_id }} </a> |
                        <button type="button" class="btn" id="{{ tx_id }}" onclick="emitTxId('{{ tx_id }}'); buttonAnimation('{{ tx_id }}');" value="{{ tx_id }}">
                            Cleanup
                        </button>
                    </li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </ul>
            <br>
            <input type="submit" id="submit"  value="Submit">
            <button type="button" id="collate" onclick="triggerCollate()">Trigger Collate</button>
            <button type="button" id="cleanup" onclick="triggerCleanupDatastore()">Cleanup Datastore</button>
  
        </form>
        <script type="text/javascript">

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var survey_dict = {{ json_dict|tojson|safe }};


            // When the select changes
            // document.getElementById("survey_names").addEventListener('change', function(event) {
            //     // Fill the text box with the data in the dropdown
            //     document.getElementById("post-data").value = event.target.value;
            //     // Populate the second dropdown
            //     console.log(event)
            //     if (event.target.hasAttribute("sid")){
            //         survey_id = event.target.getAttribute("sid");
            //         data = survey_dict[survey_id];
            //         console.log(data)
            //     }else{
            //         console.log("THIS OPTION DOES NOT HAVE SID")
            //     }
                
            // });

            // When the select changes
            $('#survey_names').change(function() {

                // Fill the text box with the data in the dropdown
                $("#post-data").val($(this).val());

                //Get the survey id for the selected option
                var sid = $('option:selected', this).attr('sid');

                // Ensure the selection is disabled & hidden
                $('#extra_surveys').prop('disabled', 'disabled');
                $('#extra_surveys').hide();
                
                // Clear old extra surveys
                $('#extra_surveys_content').empty();

                //Check the SID is valid
                if (typeof sid !== 'undefined'){
                    console.log(survey_dict[sid])
                    var extra_surveys = survey_dict[sid]
                    //Only show the option if there is more than 1
                    if (extra_surveys.length > 1){
                        console.log("Ready to enable")

                        $('#extra_surveys').show();
                        //Populate the dropdown
                        $.each(extra_surveys, function(key,value){
                            case_id = value["case_id"]
                            $('#extra_surveys_content').append($("<option></option>").attr("value", JSON.stringify(value,null,4)).text(case_id));
                        });

                        // Enable the dropdown
                        $('#extra_surveys').prop('disabled', false);
                    }
                }
            });


            // When the second select changes
            $('#extra_surveys').change(function() {

                // Fill the text box with the data in the dropdown
                $("#post-data").val($(this).val());
            });


            function emitTxId(tx_id) {
                socket.emit('dap_receipt', {tx_id : tx_id});
            }

            function buttonAnimation(tx_id) {
                var selectedButton = document.getElementById(tx_id);
                $(selectedButton).html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Cleaning...').attr('disabled', true);
            }

            function buttonChange(tx_id, color, status) {
                var selectedButton = document.getElementById(tx_id);
                $(selectedButton).html(status);
                document.getElementById(tx_id).style.background = color;
            }

            function triggerCollate() {
                socket.emit('collate', {data : 'collate triggered'});
                document.getElementById('collate').disabled = true;
                alert("Triggering sdx-collate cron...");
            }

            function triggerCleanupDatastore() {
                socket.emit('cleanup datastore')
                alert("Cleaning up Datastore")
            }
            socket.on('cleaning finished', function(msg) {
                if (msg.in_bucket == false) {
                    console.log(msg.in_bucket);
                    buttonChange(msg.tx_id, 'DarkSeaGreen', 'Done!');
                } else {
                    console.log(msg.in_bucket);
                    buttonChange(msg.tx_id, 'Tomato', 'Failed!');
                }
            });

            socket.on('cleanup failed', function(msg) {
                buttonChange(msg.tx_id, 'Tomato', 'Failed!');
                alert("Cleanup Failed: " + msg.error);
            });

            socket.on('Collate status', function(msg) {
                document.getElementById('collate').disabled = false;
                alert("Status: " + msg.status);
            });

            socket.on('Cleanup status', function(msg){
                alert("Status: " + msg.status);
            });
        </script>
    </div>
</body>

{% endblock content %}

