<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDX Tester</title>
</head>
<body>
    <div>
        <form action="/submit" method="post">
            <select name="surveys names" id="survey_names">
                <li>surveys</li>
                {% for x in surveys %}
                    <option value= "{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>

            <br>
            <textarea id="post-data" name="post-data" rows="33" cols="60">

            </textarea>
            <br>
            <input id="submit" type="submit" value="Submit" style="margin-top: 20px">

            <script>
                document.getElementById("survey_names").addEventListener('change', function(event) {
                    document.getElementById("post-data").value = event.target.value
                });
            </script>
        </form>
    </div>
</body>
</html>