{% extends 'layouts/_app.html.j2' %}
{% block title %}Response{% endblock %}

{% block content %}
<!--Page container-->
<div class="ons-page__container customContainer ons-u-mt-l ons-u-mb-m">
    <!--Back button-->
    <button onclick="window.location.href='/'" role="button" class="ons-btn ons-btn--secondary">
        <span class="ons-btn__inner">
            Go back
        </span>
    </button>

    <!--Top grid-->
    <div class="ons-u-mt-xl ons-u-mb-m ons-grid ons-grid--spaced">
        <!--Left (Dap)-->
        <div class="ons-grid__col ons-col-6@m ">
            <div id="leftAccordian" class="ons-accordion">
                <!--Title bar-->
                <div class="ons-grid">
                    <div class="ons-grid__col ons-col-6@m my-0">
                        <h3> Recieved DAP </h3>
                    </div>
                    <div class="ons-grid__col ons-col-6@m my-0">
                        <span class="ons-status ons-status--success">In progress</span>
                    </div>
                </div>
                
                <div id="accordion-dap" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-btn-close="Hide" data-group="leftAccordian">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading">
                        <div class="ons-collapsible__controls">
                            <p class="ons-collapsible__title">DAP data</p>
                            <span class="ons-collapsible__icon">
                              <svg class="ons-svg-icon " viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                              </svg>
                            </span>
                            <button type="button" class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small">
                              <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>
                        </div>
                    </div>
                    <div id="accordion-dap-content" class="ons-collapsible__content ons-js-collapsible-content">
                      <textarea id="dap_text" readonly class="ons-input--textarea ons-input">{{dap_message | pretty_print }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {% if 'SEFT' not in files and 'JSON' not in files %}
        <!--Right (receipts)-->
        <div class="ons-grid__col ons-col-6@m ">
            <div id="rightAccordion" class="ons-accordion">
                <!--Title bar-->
                <div class="ons-grid">
                    <div class="ons-grid__col ons-col-6@m my-0">
                        <h3> Recieved Receipts </h3>
                    </div>
                    <div class="ons-grid__col ons-col-6@m my-0">
                        <span class="ons-status ons-status--success">In progress</span>
                    </div>
                </div>
                
                <div id="accordion-rec" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-btn-close="Hide" data-group="rightAccordion">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading">
                        <div class="ons-collapsible__controls">
                            <p class="ons-collapsible__title">Receipts</p>
                            <span class="ons-collapsible__icon">
                              <svg class="ons-svg-icon " viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                              </svg>
                            </span>
                            <button type="button" class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small">
                              <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>
                        </div>
                    </div>
                    <div id="accordion-rec-content" class="ons-collapsible__content ons-js-collapsible-content">
                      <textarea id="receipt_text" readonly class="ons-input--textarea ons-input">{{ receipt | pretty_print }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--Bottom (Files)-->
        <div class="ons-grid__col">
            <div id="accordion" class="ons-accordion">
                <h3> Files </h3>
                <button type="button" class="ons-btn ons-js-collapsible-all ons-u-mb-s ons-u-d-no ons-btn--secondary ons-btn--small" data-close-all="Hide all" data-group="accordion">
                    <span class="ons-btn__inner ons-js-collapsible-all-inner">Show all</span>
                </button>
                <div id="accordion-1" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-btn-close="Hide" data-group="accordion">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading">
                        <div class="ons-collapsible__controls">
                            <h2 class="ons-collapsible__title">Total retail turnover</h2>
                            <span class="ons-collapsible__icon">
                              <svg class="ons-svg-icon " viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                              </svg>
                            </span>
                            <button type="button" class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small">
                              <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>
                        </div>
                    </div>
                    <div id="accordion-1-content" class="ons-collapsible__content ons-js-collapsible-content">
                      <h3 class="ons-u-fs-r">Include:</h3>
                      <ul class="ons-list">
                        <li class="ons-list__item">VAT</li>
                        <li class="ons-list__item">internet sales</li>
                        <li class="ons-list__item">retail sales from outlets in Great Britain to <a href="#">customers abroad</a></li>
                      </ul>
                      <h3 class="ons-u-fs-r">Exclude:</h3>
                      <ul class="ons-list">
                        <li class="ons-list__item">revenue from mobile phone network commission and top-up</li>
                        <li class="ons-list__item">sales from catering facilities used by customers</li>
                        <li class="ons-list__item">lottery sales and commission from lottery sales</li>
                        <li class="ons-list__item">sales of car accessories and motor vehicles</li>
                        <li class="ons-list__item">NHS receipts</li>
                        <li class="ons-list__item">automotive fuel</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if timeout or quarantine %}
        {% for flash in get_flashed_messages() %}
            <div class="timeout">
                <h2>ERROR</h2>
                <p>{{ flash }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <br>
    {% if quarantine %}
        <div class="buttons">
            <button type="button" class="collapsible" id="quarantine"><strong>This submission with tx_id: {{ tx_id }} has been quarantined</strong></button>
        <div class="content">
            <textarea id="quarantine_text" readonly rows="30">{{ quarantine | pretty_print }}</textarea>
        </div>
        </div>
        <br>
    {% else %}
        <div class="buttons">
            <button type="button" class="collapsible" id="dap"><strong>Received DAP</strong></button>
        <div class="content">
            <textarea id="dap_text" readonly rows="20">{{dap_message | pretty_print }}
            </textarea>
        </div>
        <br><br>
        {% if 'SEFT' not in files and 'JSON' not in files %}
            <button type="button" class="collapsible" id="receipt"><strong>Received Receipts</strong></button>
        <div class="content">
            <textarea id="receipt_text" readonly rows="15">{{ receipt | pretty_print }}
            </textarea>
        </div>
         {% endif %}
        <br><br>
        <!--            The below div is for loading different types of transformed files for survey submissions-->

        <div class="loadFiles">
            <div class="fileButtons">
                <p style="color:#fff;"><strong>Select the format:</strong></p>
                {% for key, value in files.items() %}
                    {% if 'JPG' in key %}
                        <center><button class="fileButton"  onclick="showData( '{{key}}' );"> {{ key }} </button>
                        <p id="{{ key }}" style="display:none; padding:20px"><img style="width:75%;" src="data:image/JPG;base64,{{ value }}"></p>
                        </center>
                    {% else %}
                        <center><button class="fileButton" onclick="showData( '{{key}}' );"> {{ key }} </button>
                        <textarea readonly id="{{ key }}" style="display:none; padding:20px; width:100%; height:700px;
                        border-radius: 5px; resize:none; overflow:visible;">{{ value }}</textarea>
                        </center>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>

        </div>
    {% endif %}
        <script>
        function showData(id_clicked) {
            var current_display = document.getElementById(id_clicked).style.display;
            if (current_display == 'none') {
                document.getElementById(id_clicked).style.display = 'block';
                var ugly = document.getElementById(id_clicked).value;
                var uglyObj = JSON.parse(ugly)

                // The JSON.stringify() method converts a JavaScript object or value to a JSON string
                pretty = JSON.stringify(uglyObj, null, 4)
                document.getElementById(id_clicked).value = pretty
            } else {
                document.getElementById(id_clicked).style.display = 'none';
            }
        }

        // The below function checks for the successful or null dap responses and changes the textbox background colour accordingly.
        function checkDap(){
            var dap = document.getElementById('dap_text').value
            if (dap.includes('null') ) {
                document.getElementById('dap').style.color = "white";
                document.getElementById('dap').style.background="red";
                }
            if (dap.includes('name')) {
                document.getElementById('dap').style.color = "white";
                document.getElementById('dap').style.background="green";
                }
            }

        // The below function checks for the successful or null receipt responses and changes the textbox background colour accordingly.
        function checkReceipt(){
            var receipt = document.getElementById('receipt_text').value
            if (receipt.includes('null')) {
                document.getElementById('receipt').style.color = "white";
                document.getElementById('receipt').style.background="red";
                }
            if (receipt.includes('caseId')) {
                document.getElementById('receipt').style.color = "white";
                document.getElementById('receipt').style.background="green";
                }
            }

        // The below code creates a collapsible section to toggle between showing and hiding the collapsible content.
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }

        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('data received', function(msg) {
                console.log('data received' + msg);
                location.reload();
            });

            //On load calls
            checkDap()
            checkReceipt();
        });
        </script>

</div>
{% endblock %}